@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(192, 142, 76, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #e6dede;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #152337ed;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 8px;

}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: rgb(33, 33, 35);
  border: 1px solid #474b4d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #efe9e9;
  border-radius: 6px;
}

.todo-input::placeholder {
  color: #ffffff62;
}

.todo-btn {
  background: rgba(192, 142, 76, 0.938);
  color: #0f0f0f;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132033ed;
  color: #e6d8d8;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 1.5px solid rgba(192, 134, 58, 0.938);
}

.fa-trash {
  margin-left: 0.75rem;
  color: #d23c28;
  
}
.faPenToSquare{
    color: #1fb09f;
   
}

.completed {
  color:  rgba(139, 100, 50, 0.938);
  text-decoration: line-through;
}